<a href="https://colab.research.google.com/github/ghkd2008/class2021Spring/blob/main/variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1; print(type(a))   #소수점 없는 정수는 int로 저장됨

<class 'int'>

In [ ]:
a = 1; a = float(a); print(type(a))   #소수점 없는 정수일지라도 만약 float로 지정해주면 소수, 예를 들어 1.0처럼 인식함

<class 'float'>

In [ ]:
a = 1.2; a = int(a); print(type(a))    
b = 2.9; b = int(b); print(b); print(type(b))   #소수를 정수로 선언해주면 소수점아래 버리고 정수로 인식.

<class 'int'>
2
<class 'int'>

In [ ]:
a = '123'; print(type(a)); print(a[1])

<class 'str'>
2

In [ ]:
a = '123'; a = list(a); print(type(a)); print(a); print(a[2])

<class 'list'>
['1', '2', '3']
3

#중첩리스트.
리스트안에 리스트. 인덱스값으로 불러올 수 있음

In [ ]:
a = [1,'2', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'list'>
1
2
[3, '4']

#튜플
리스트와 달리 튜플은 튜플 안의 값을 수정할 수 가 없음. 따라서 값이 바뀌면 안될 때 이용가능. 

그외에는 리스트와 마찬가지로 인덱스값을 이용하여 불러올 수 있음.

In [ ]:
a = (1,'2', [3, '4']); print(type(a)); print(a[0]); print(a[1]); print(a[2])

<class 'tuple'>
1
2
[3, '4']

#딕셔너리
딕셔너리는 키와 밸류값으로 이뤄져 있으며, 인덱스값으로 접근 불가

따라서 키값을 이용하여 밸류값을 불러 올 수 있음

In [ ]:
a =	{"a": "apple", "b": "orange", "c": 2014}
print(type(a))
print(a["a"])

<class 'dict'>
apple

In [ ]:
a=[(1,2,3), (3,8,0)]    #리스트안에 튜플이 들어있는 형태. 섞여있지만 어쨌든 가장 큰 틀은 리스트이므로 a는 리스트로 인식
print(type(a))
a

<class 'list'>

[(1, 2, 3), (3, 8, 0)]